html,
body {
  background-color: #f9f9f9;
  color: #ee6983;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
}

button {
  padding: 15px;
  font-size: 1.3rem;
  margin-right: 5px;
}
